## Empresa ABC 

La empresa ABC reporta en el mes los siguientes datos (producción de mesas):

| Concepto                       | Monto ($) |
|--------------------------------|-----------|
| Abrasivos                      | 5.000     |
| Combustibles                   | 12.000    |
| MOD (Mano de Obra Directa)     | 750.000   |
| MOI (Mano de Obra Indirecta)   | 100.000   |
| Depreciación equipos           | 100.000   |
| Compra de Materia Prima (MP)   | 854.900   |
| Gastos envío sucursal          | 175.000   |
| Mantenimiento equipos          | 100.000   |
| Horas extras indirectas        | 50.000    |
| Energía eléctrica              | 25.000    |
| Alquiler edificio fábrica      | 126.750   |
| Seguro equipos                 | 16.250    |
| Comisiones de ventas           | 150.000   |
| Sueldos personal ventas        | 250.000   |
| Gastos administrativos         | 250.000   |
| **Ventas**                     | **3.000.000** |

**Inventarios de materiales directos**  
- Inicial: $100.000  
- Final: $125.000  

**Producción del mes:** 9.750 unidades  
**Unidades vendidas:** 6.420

#### Importaciones y configuración

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Configuración de estilo para los gráficos
plt.style.use('default')

#### Definición de datos

In [3]:
# Datos proporcionados
data = {
    "Concepto": [
        "Materia Prima Directa (ajustada)",
        "MOD",
        "CIF",
        "Costo Primo",
        "Costo Conversión",
        "Costo Producción",
        "Costo Unitario",
        "Ventas",
        "Costo de Ventas",
        "Resultado Bruto",
        "Gastos de ventas y administración",
        "Resultado del Período"
    ],
    "Monto ($)": [
        829900,
        750000,
        518000,
        1579900,
        1285000,
        2114900,
        round(2114900/9750,2),
        3000000,
        1389080,
        1610920,
        175000+150000+250000,
        782419.69
    ]
}

df_resumen = pd.DataFrame(data)
df_resumen

                             Concepto   Monto ($)
0    Materia Prima Directa (ajustada)   829900.00
1                                 MOD   750000.00
2                                 CIF   518000.00
3                         Costo Primo  1579900.00
4                    Costo Conversión  1285000.00
5                    Costo Producción  2114900.00
6                      Costo Unitario      216.91
7                              Ventas  3000000.00
8                     Costo de Ventas  1389080.00
9                     Resultado Bruto  1610920.00
10  Gastos de ventas y administración   575000.00
11              Resultado del Período   782419.69